/* 通用 */
html,body{
	width: 100%;
	height: 100%;
}

.j-container::-webkit-scrollbar, body::-webkit-scrollbar{
    display:none
}
.j-container{
    -webkit-overflow-scrolling: touch;
}
/* 颜色 */
.black{
	color: black
}


/* Vue-material 组件 */
.md-spinner{
	margin: .1rem auto 0;
}
.md-dialog-container.md-active .md-dialog{
	background: #fff;
}
.md-card{
	width: 100%;
}
.md-sidenav-content{
	background-color: #fff;
}
.md-toolbar{
	background-color: #eb1c42;
	color: #fff;
}
.md-tabs .md-tab{
    padding:0;
}
.md-list{
  margin: 0 auto;
  padding: 0;
}

.md-theme-blue a:not(.md-button){
    color:blue;
}

.md-list-text-container>:nth-child(1){
    font-size: .28rem;
}

.md-list-text-container>:nth-child(2), .md-list-text-container>:nth-child(3){
    font-size: .24rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}


/* 图标 */
.iconfont{
	width: .24rem;
    min-width: .24rem;
    height: .24rem;
    min-height: .24rem;
    margin: auto;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -ms-flex-align: center;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    fill: currentColor;
    vertical-align: middle;
    font-size: .28rem;
}
